.Projects {
  background-image: url("/photos/cartoon13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  padding-top: 6vh;
  height: 120vh;
}

.BigHeader {
  color: #10002b;
  text-shadow: rgba(0, 0, 0, 0.9) 3px 6px 9px;
}

.paragraphcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 30px;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: rgba(0, 0, 0, 0.8) 4px 4px 7px;
}

.paragraph {
  color: #ccd6f6;
  text-shadow: rgba(0, 0, 0, 0.9) 6px 6px 9px;
  position: relative;
  left: 30px;
}

.imagelink {
  box-shadow: rgba(0, 0, 0, 0.9) 6px 6px 9px;
}

.projectTitle {
  color: #ffffff;
  filter: drop-shadow(2px 3px 4px rgb(0, 0, 0));
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  position: relative;
  left: 60px;
}

.projectImage {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.9) 6px 6px 9px;
}

.header {
  color: #ccd6f6;
  filter: drop-shadow(2px 3px 4px rgb(0, 0, 0));
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.projectcontainer {
  height: 90vh;
}

@media only screen and (max-width: 640px) {
  .Projects {
    padding: 10px;
    padding-top: 3vh;
    height: 90vh;
    background-position: top;
  }

  .paragraphcontainer {
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
    justify-self: center;
  }

  .paragraph {
    left: 0;
    text-align: center;
  }

  .projectTitle {
    left: 0;
    text-align: center;
  }
  .projectcontainer {
    height: auto;
    margin-top:20vh;
  }
}

@media (min-width: 640px) and (max-width: 1020px) {
  .Projects {
    padding: 10px;
    padding-top: 7vh;
    height: 110vh;
    background-position: top;
  }

  .paragraphcontainer {
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
    justify-self: center;
  }

  .paragraph {
    left: 0;
    text-align: center;
  }

  .projectTitle {
    left: 0;
    text-align: center;
  }
  .projectcontainer {
    position: relative;bottom: 15vh;
    height: auto;
    margin-top:0vh;
  }
  .imageContainer{
    justify-self: center;
  }
}
